*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude/
.idea/
ZebraEURED_SetupPrinter/release/
screenshot.png
tmpclaude-1ca3-cwd
ZebraPrinterEURedSetup/release/
tmpclaude
tmpclaude-*
nul
